body{
font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    width: 1440px; 
    /* border: solid 1px red;  */
    box-shadow: 0.5px 5px 10px 1px rgb(154, 154, 175);
    height: 240vh;
}

.top{
    width: 1140px;
    height: 55vh;
    background-color: rgb(204, 231, 240);
    background-image: url(/images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    width: 150px;
    height: 3vh;
    padding-left: 30px;
    padding-top: 0;
    margin-top: -5px;
}

.btn-light{
    margin-left: 1020px;
    margin-top: -50px;
    border-radius: 30px;
    background-color: white;
}

.build{
    margin-left: 30px;
    margin-top: 40px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
}

.hud{
    margin-top: 15px;
    margin-left: 30px;
    font-size: 10px;
}

.d-grid{
    margin-top: 20px;
    margin-left: 30px;
}

.btn-success{
    background-color: #d63384;
    padding: 6px 20px;
    border-radius: 25px;
    border: none;
}

.mockup{
    margin-left: 720px;
    margin-top: -200px;
}

.second{
    /* border: solid 1px red; */
    box-shadow: 0.5px 5px 10px 1px rgb(154, 154, 175);
    width: 900px;
    height: 40vh;
    margin-left: 100px;
    margin-top: 70px;
}

.grow{
    margin-left: 100px;
    padding-top: 80px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 700;
}

.generate{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 10px;
}

.illa-grow{
    width: 180px;
    height: 25vh;
    margin-left: 250px;
    margin-top: -130px;
    margin-left: 700px;
}

.third{
    box-shadow: 0.5px 5px 10px 1px rgb(154, 154, 175);
    width: 900px;
    height: 40vh;
    margin-left: 100px;
    margin-top: 70px;
}

.illa-flow{
    width: 180px;
    height: 25vh;
    margin-left: 100px;
    margin-top: -120px;
}

.flowing{
    font-size: 16px;
    font-weight: 700;
    margin-left: 600px;
    padding-top: 70px;
}

.you{
    margin-left: 600px;
    margin-top: 15px;
    font-size: 10px;
}

.fourth{
    box-shadow: 0.5px 5px 10px 1px rgb(154, 154, 175);
    width: 900px;
    height: 40vh;
    margin-left: 100px;
    margin-top: 70px;
}

.users{
    margin-left: 100px;
    padding-top: 80px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 700;
}

.it{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 10px;
}

.illa-user{
    width: 180px;
    height: 25vh;
    margin-left: 250px;
    margin-top: -130px;
    margin-left: 700px;
}

.last{
    width: 1140px;
    height: 65vh;
    margin-top: -6px;
    margin-left: 98px;
    background-color: rgb(8, 8, 26);
}

.ready{
    width: 550px;
    height: 30vh;
    background-color: white;
    box-shadow: 0.5px 1px 2px 1px rgb(205, 205, 221);
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
}

.comm{
    margin-top: -1px;
    margin-left: 125px;
    padding-top: 25px;
    font-size: 20px;
    font-weight: 700;
}

.free{
    margin-left: 170px;
    margin-top: 1px;
    margin-bottom: 40px;
}

.b-hud{
    width: 140px;
    margin-top: 110px;
    margin-left: 180px;
}

.loc{
    display: flex;
}

.location{
    margin-left: 180px;
    height: 3vh;
}

.loreem{
    margin-left: 15px;
    font-size: 10px;
    color: white;
    line-height: 20px;
}

.pho{
    display: flex;
}

.phone{
    margin-left: 90px;
    margin-top: 10px;
}

.number{
    margin-left: 15px;
    margin-top: 5px;
    color: white;
}

.mai{
    display: flex;
}

.mail{
    margin-left: 90px;
    margin-top: 15px;
}

.text{
    margin-left: 15px;
    margin-top: 10px;
    color: white;
}

.info{
    margin-left: 480px;
    margin-top: -150px;
}

ul{
    list-style-type: none;
}

li{
    padding: 5px;
    color: white;
}

.infos{
    margin-left: 620px;
    margin-top: -120px;
}